@import "html5.scss";
@import "reset.scss";

.fr {
  float: right;
}

.t-shadow {
  text-shadow: 1px 1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333, -1px -1px 0 #333333;
}

.frame-box {
  border-radius: 12px;
  border: 2px solid rgba(51, 51, 51, 0.7);
  background-color: rgba(51, 51, 51, 0.5);
}

.b-block {
  background-color: rgba(48, 109, 173, 0.6);
  border: 1px solid #21476f;
  color: #FFFFFF;
  border: 1px solid rgba(48, 109, 173, 0.6);
  border-radius: 4px;
}
