@import "html5.scss";
@import "reset.scss";

.fr {
  float: right;
}

.t-shadow {
  text-shadow: 1px 1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333, -1px -1px 0 #333333;
}

.frame-box {
  border-radius: 12px;
  border: 2px solid rgba(51, 51, 51, 0.7);
  background-color: rgba(51, 51, 51, 0.5);
}
